<div class="d-md-flex d-lg-flex flex-row d-sm-block overflow-hidden">
  <div class="col-lg-6 left-content px-5">
      <span class="sub-title">
          NEW COLLECTION 2026
        </span>
    <h1>
      {{title}}
    </h1>
    <p class="banner-description">
      {{description}}
    </p>

    <div>
      <button class="btn-fill">
        Shop Collection
        <i class="bi bi-arrow-right ms-2"></i>
      </button>
    </div>

    <div class="mt-4 features">
      <div>
        <i class="bi bi-check-circle"></i>
        Premium Quality
      </div>
      <div>
        <i class="bi bi-truck"></i>
        Fast Delivery
      </div>
      <div>
        <i class="bi bi-shield-check"></i>
        Secure Payment
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <img class="img" src="/images/banner/top-banner-image.jpg">
  </div>
</div>


