<div class="d-flex flex-column flex-lg-row overflow-hidden auth-content">
  <div class="col-lg-6 auth-image-content d-none d-lg-block">
    <img class="img" src="/images/banner-one.png">
  </div>

  <div class="col-lg-6 d-flex flex-column align-items-center px-2 px-sm-0 px-md-5 px-sm-0 py-3 py-sm-0 form-content">
    <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 w-100">
      <a class="brand-mark-auth pb-lg-5 pb-md-5 pb-0 text-start" routerLink="/">{{ brandName }}</a>
      <div class="w-100 form-inner">

        <p class="sub-title text-start text-nowrap mb-2">Reset your password</p>
        <h2 class="mb-1 sign-in-text">Forgot Password</h2>
        <p class="mb-4 sub-text">
          Enter the email linked to your account and we'll send you a 6-digit code to reset your password.
        </p>

        <form (ngSubmit)="onSubmit()">
          <app-text-input
            label="Email"
            type="email"
            icon="bi-envelope"
            placeholder="you@example.com"
            [(ngModel)]="email"
            [ngModelOptions]="{standalone: true}"
            [errorMessage]="emailError"
          ></app-text-input>

          <button type="submit" class="btn-fill w-100 app-button" [disabled]="submitting">
            {{ submitting ? 'SENDING CODE' : 'SEND CODE' }}
          </button>
        </form>

        <hr class="stitch my-4">

        <app-alert-message
          [errorMessage]="errorMessage"
          (closed)="errorMessage = ''"
        ></app-alert-message>

        <p class="text-center switch-text">
          Remembered your password?
          <a routerLink="/login" class="switch-link">Sign in</a>
        </p>
      </div>
    </div>

    <p class="login-footer text-center mb-3">
      &copy; {{ currentYear }} {{ brandName }}. All rights reserved.
    </p>
  </div>
</div>
