<div class="d-flex flex-column flex-lg-row overflow-hidden auth-content">
  <div class="col-lg-6 auth-image-content d-none d-lg-block">
    <img class="img" src="/images/banner-three.png">
  </div>

  <div class="col-lg-6 d-flex flex-column align-items-center px-2 px-sm-0 px-md-5 px-sm-0 py-3 py-sm-0 form-content">
    <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 w-100">
      <a class="brand-mark-auth pb-lg-5 pb-md-5 pb-0 text-start" routerLink="/">{{ brandName }}</a>
      <div class="w-100 form-inner">

        <p class="sub-title text-start text-nowrap mb-2">Welcome back</p>
        <h2 class="mb-1 sign-in-text">Sign In</h2>
        <p class="mb-4 sub-text">Welcome back! Sign in to discover the latest trends and continue shopping.</p>

        <form (ngSubmit)="onSubmit()">
          <app-text-input
            label="Email"
            type="email"
            icon="bi-envelope"
            placeholder="you@example.com"
            [(ngModel)]="email"
            [ngModelOptions]="{standalone: true}"
            [errorMessage]="emailError"
          ></app-text-input>

          <app-text-input
            label="Password"
            type="password"
            icon="bi-lock"
            placeholder="••••••••"
            [(ngModel)]="password"
            [ngModelOptions]="{standalone: true}"
            [errorMessage]="passwordError"
          ></app-text-input>

          <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-2">
            <div class="form-check">
              <input
                class="form-check-input shadow-none"
                type="checkbox"
                id="remember"
                [(ngModel)]="rememberMe"
                [ngModelOptions]="{standalone: true}"
              >
              <label class="form-check-label remember-me-text" for="remember">Remember me</label>
            </div>
            <a routerLink="/forgot-password" class="forgot-password-text">Forgot password?</a>
          </div>

          <button type="submit"  class="btn-fill w-100 app-button" [disabled]="submitting">
            {{ submitting ? 'SIGNING IN' : 'SIGN IN' }}
          </button>
        </form>

        <hr class="stitch my-4">

        <app-alert-message
          class="w-100"
          [errorMessage]= "errorMessage"
          (closed)="errorMessage = ''"
        ></app-alert-message>

        <p class="text-center switch-text">
          New to Needle Eye?
          <a routerLink="/register" class="switch-link">Create an account</a>
        </p>
      </div>
    </div>

    <p class="login-footer text-center mb-3">
      &copy; {{ currentYear }} {{ brandName }}. All rights reserved.
    </p>
  </div>
</div>
